<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Movie_Scheduling_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Movie</display-name>
    <servlet-name>Movie</servlet-name>
    <servlet-class>khaled_elsayed.Movie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie</servlet-name>
    <url-pattern>/Movie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cinema</display-name>
    <servlet-name>Cinema</servlet-name>
    <servlet-class>khaled_elsayed.Cinema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cinema</servlet-name>
    <url-pattern>/Cinema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showing</display-name>
    <servlet-name>Showing</servlet-name>
    <servlet-class>khaled_elsayed.Showing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showing</servlet-name>
    <url-pattern>/Showing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkedListNode</display-name>
    <servlet-name>LinkedListNode</servlet-name>
    <servlet-class>khaled_elsayed.LinkedListNode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkedListNode</servlet-name>
    <url-pattern>/LinkedListNode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BinaryTreeNode</display-name>
    <servlet-name>BinaryTreeNode</servlet-name>
    <servlet-class>khaled_elsayed.BinaryTreeNode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BinaryTreeNode</servlet-name>
    <url-pattern>/BinaryTreeNode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieHashMap</display-name>
    <servlet-name>MovieHashMap</servlet-name>
    <servlet-class>khaled_elsayed.MovieHashMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieHashMap</servlet-name>
    <url-pattern>/MovieHashMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>khaled_elsayed.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HIIIIII</display-name>
    <servlet-name>HIIIIII</servlet-name>
    <servlet-class>khaled_elsayed.HIIIIII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HIIIIII</servlet-name>
    <url-pattern>/HIIIIII</url-pattern>
  </servlet-mapping>
</web-app>